.dropdownParent {
  position: relative;
}

.dropdownParent:hover .dropdown {
  display: block;
  animation: fadeIn 200ms 10ms forwards;
}

.dropdown {
  display: none;
  opacity: 0;
  position: absolute;
}

.dropdownAlignLeft {
  left: 0;
}

.dropdownAlignRight {
  right: 0;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}