@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel+Decorative:wght@700&family=Noto+Sans+JP&family=Roboto&family=Playfair+Display&display=swap');

:root {
  --primary-black: #0F0F0F;
  --secondary-black: #222222;
  --primary-gray: #555555;

  --logo-font: 'Cinzel Decorative', cursive;
  --heading-font: 'Abril Fatface', cursive;
  --subtitle-font: 'Noto Sans JP', sans-serif;
  --bread-font: 'Playfair Display', serif;
  --primary-font: 'Roboto', sans-serif;
}